.advantages {
  padding-top: 94px;
}

.advantages__list {
  display: flex;
  justify-content: space-between;
}

.advantages__item {
  flex-basis: calc((100% - 90px) / 4);
}

.advantages__logo--backdrop {
  height: 120px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $bg-color-advantages-icon;
  border-radius: 4px;
}

.advantages__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $prime-color-text;
}

.advantages__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $second-color-text;
}
