.contacts__link {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: $second-color-text;
  @extend %link-hover-focus;
}

.contacts__icon {
  display: none;
}

@media screen and (max-width: 767px) {
  .contacts {
    display: flex;
    flex-direction: column-reverse;
    margin-top: auto;
    margin-bottom: 64px;
  }

  .contacts__link {
    font-size: 24px;
    line-height: 1.17;
  }

  .contacts__item:last-child {
    margin-bottom: 32px;
    .contacts__link {
      font-size: 34px;
      color: $hover-color-text;
    }
  }
}

//
//
//
//
//
@media screen and (min-width: 768px) {
  .contacts__link {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 1.17;
  }

  .contacts__icon {
    display: block;
    fill: currentColor;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 84px;
  }

  .contacts__item:first-child {
    margin-bottom: 10px;
  }

  .contacts__icon {
    display: block;
    margin-right: 8px;
    fill: currentColor;
    transform: scale(0.9);
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    align-items: center;
    margin-left: 305px;
  }

  .contacts__item:first-child {
    margin-right: 30px;
  }

  .contacts__link {
    padding: 32px 0;
    font-size: 14px;
    line-height: 1.14;
  }

  .contacts__icon {
    margin-right: 10px;
  }
}
