.contacts {
  // display: flex;
  margin-left: auto;
}

.contacts__item:first-child {
  margin-right: 30px;
}

.contacts__link {
  padding: 32px 0;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $second-color-text;
  @extend %link-hover-focus;
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}
