.example-of-work {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.examples-of-work__overlay {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.example-of-work__backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.examples-list__link:hover .example-of-work__backdrop,
.examples-list__link:focus .example-of-work__backdrop {
  transform: translateY(-100%);
}

.example-of-work__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: $on-dark-bg-color-text;
}

.example-of-work__meta {
  padding: 20px 24px;
  box-sizing: border-box;
  border: 1px solid $example-of-work-border-color;
}

.example-of-work__name {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $prime-color-text;
}

.example-of-work__group-name {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: $second-color-text;
}

@media screen and (max-width: 479px) {
  .example-of-work__backdrop {
    padding: 35px 24px;
  }
}

@media screen and (min-width: 480px) {
  .example-of-work__backdrop {
    padding: 77px 24px;
  }
}

@media screen and (min-width: 768px) {
  .example-of-work__backdrop {
    padding: 49px 24px 77px;
  }
}

@media screen and (min-width: 1200px) {
  .example-of-work__backdrop {
    padding: 63px 24px;
  }
}
