.hero {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.hero {
  margin: 0 auto;
  background-color: $bg-color-hero-section;
  // background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
  //   url(../images/bg-hero.jpg);
  background-image: linear-gradient(
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4),
    url('../images/bg-header-img/header-mobile-img.jpg')
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-title {
  margin-bottom: 30px;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: $on-dark-bg-color-text;
}

@media screen and (max-width: 767px) {
  .hero {
    max-width: 480px;

    // @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    //   background-image: linear-gradient(
    //     rgba(47, 48, 58, 0.4),
    //     rgba(47, 48, 58, 0.4),
    //     url(../images/bg-header-img/header-mobile-img@2x.jpg)
    //   );
    // }
  }
}

@media screen and (max-width: 1199px) {
  .hero {
    padding: 118px 0;
  }
  .main-title {
    max-width: 360px;
    font-size: 26px;
    line-height: 1.62;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    padding: 200px 0;
  }
  .main-title {
    width: 700px;
    font-size: 44px;
    line-height: 1.36;
  }
}
