.logo {
  font-family: $logo-font-family;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }
}

.header__logo {
  &--first-color {
    color: $first-logo-color;
  }
  &--second-color {
    color: $second-logo-color;
  }
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  &--first-color {
    color: $hover-color-text;
  }
  &--second-color {
    color: $on-dark-bg-color-text;
  }
}
