@media screen and (max-width: 767px) {
  .mobile-menu-backdrop {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    background-color: #ffffff;
    //
    //
    //
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    transition: opacity 250ms linear, visibility 250ms linear;
    //
    //
    //
    &.is-open {
      //
      //
      //
      visibility: visible;
      pointer-events: auto;
      opacity: 1;
      //
      //
      //
    }
  }

  .mobile-menu {
    position: absolute;
    width: 480px;
    height: 100vh;
    top: 0;
    left: 50%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding: 48px 40px;
    transform: translateX(-100%);
    transition: transform 300ms linear;
  }

  .mobile-menu-backdrop.is-open {
    .mobile-menu {
      transform: translateX(-50%);
    }
  }

  .hide-body {
    overflow: hidden;
  }
}

@media screen and (max-width: 479px) {
  .mobile-menu {
    width: 100%;
  }
}
//
//
//
//
//
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: flex;
  }
}
