.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  &--is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transform: scale(0);
  }
  transform: scale(1);
  transition: opacity 400ms linear, transform 400ms linear,
    visibility 400ms linear;
}

.modal-window {
  width: 528px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  background-color: #ffffff;
}

.modal-window__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}
