.our-team-section {
  // padding: 94px 0;
  background-color: $bg-color-our-team-section;
}

.our-team__list {
  margin: -15px;
}

.our-team__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  padding-bottom: 30px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team__member-team-name {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.our-team__member-team-position {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $second-color-text;
}

@media screen and (max-width: 767px) {
  .our-team__item {
    width: calc(100% - 30px);
  }
}

@media screen and (max-width: 1199px) {
  .our-team-section {
    padding: 60px 0;
  }
}

@media screen and (min-width: 768px) {
  .our-team__list {
    display: flex;
    flex-wrap: wrap;
  }
  .our-team__item {
    width: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .our-team-section {
    padding: 94px 0;
  }
  .our-team__item {
    width: calc((100% - 120px) / 4);
  }
}
