.our-partners-section {
  padding: 94px 0;
}

.our-partners__list {
  margin: -15px;
  display: flex;
  flex-wrap: wrap;
}

.our-partners__item {
  margin: 15px;
}

.our-partners__link {
  width: 100%;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $icon-color;
  box-sizing: border-box;
  border-radius: 4px;
  color: $icon-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $hover-icon-color;
    border-color: $hover-icon-color;
  }
}

.our-partners__logo {
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .our-partners__item {
    width: calc((100% - 60px) / 2);
  }
}

@media screen and (max-width: 1199px) {
  .our-partners-section {
    padding: 60px 0;
  }
}

@media screen and (min-width: 768px) {
  .our-partners__item {
    width: calc((100% - 90px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .our-partners-section {
    padding: 94px 0;
  }
  .our-partners__item {
    width: calc((100% - 180px) / 6);
  }
}
