.filter {
  display: flex;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.examples-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.examples-list__item {
  margin: 15px;
  border: 1px solid $example-of-work-border-color;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

@media screen and (max-width: 767px) {
  .filter {
    flex-wrap: wrap;
    margin-bottom: 25px;
  }

  .filter__item {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 1199px) {
  .portfolio-section {
    padding: 60px 0;
  }
}

@media screen and (min-width: 768px) {
  .filter {
    justify-content: center;
    margin-bottom: 30px;
  }

  .examples-list__item {
    width: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-section {
    padding: 94px 0;
  }

  .filter {
    margin-bottom: 50px;
  }

  .examples-list__item {
    width: calc((100% - 90px) / 3);
  }
}

// выравнивание первой карточки на таблете

// .examples-list__item:first-child {
//   @media screen and (min-width: 768px) and (max-width: 1199px) {
//     .example-of-work__meta {
//       padding-bottom: 56px;
//     }
//   }
// }
