.secondary-title {
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: $prime-color-text;
  &--hidden {
    @extend %visually-hidden;
  }

  @media screen and (max-width: 1199px) {
    margin-bottom: 30px;
    font-size: 28px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
  }
}
