.social-links-list {
  display: flex;
}

.social-links-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-links-list__social-link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: $icon-color;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &--footer-colors {
    color: $on-dark-bg-color-text;
    background-color: rgba(255, 255, 255, 0.1);
  }

  &:hover,
  &:focus {
    color: $on-dark-bg-color-text;
    background-color: $hover-icon-color;
  }
}

.social-link-icon {
  fill: currentColor;
}
