.what-we-do-section {
  padding-top: 47px;
  padding-bottom: 94px;
}

.what-we-do__list {
  display: flex;
  justify-content: space-between;
}

.what-we-do__item {
  position: relative;
}

.what-we-do-label {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $on-dark-bg-color-text;
  background-color: rgba(47, 48, 58, 0.8);
}

@media screen and (max-width: 1199px) {
  .what-we-do-section {
    display: none;
  }
}
