ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

img,
svg {
  display: block;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

body {
  font-family: $prime-font-family;
  color: $prime-color-text;
  background-color: #ffffff;
}
