// font-family:

$logo-font-family: 'Raleway', sans-serif;
$prime-font-family: 'Roboto', sans-serif;

// colors:

$prime-color-text: #212121;
$second-color-text: #757575;
$on-dark-bg-color-text: #ffffff;
$hover-color-text: #2196f3;
$first-logo-color: #2196f3;
$second-logo-color: #000000;
$icon-color: #afb1b8;
$hover-icon-color: #2196f3;
$filter-button-color: #f5f4fa;
$bg-color-advantages-icon: #f5f4fa;
$bg-color-hero-section: #c4c4c4;
$bg-footer-color: #2f303a;
$button-color: #2196f3;
$button-hover-color: #188ce8;
$bg-color-our-team-section: #f5f4fa;
$example-of-work-border-color: #eeeeee;
